@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600;700&display=swap");

:root {
  --light-white: #f0f0f0;
  --light-black: #0f0f0f;
  --dark-white: #c1c1c1;
  --dark-black: #191919;
  --ash: #777777;
  --Scheele-green: #006100;

  --tiny: 12px;
  --small: 16px;
  --medium: 24px;
  --large: 40px;
  --super-large: 60px;

  --thin: 300;
  --regular: 400;
  --heavy: 600;

  --width: 780px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Source Code Pro", monospace;
  color: var (--light-black);
  background-color: var(--light-white);
  width: var(--width);
  margin: 0 auto;
  padding: 0 auto;
}

/* for HoneEditor */
.editor-message {
  height: var(--small);
  line-height: var(--small);
  text-align: center;
  font-size: var(--tiny);
  color: var(--ash);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.editor-container {
  position: relative;
  top: var(--medium);
  margin: 0px;
  text-align: left;
}

.editor-placeholder {
  color: var(--ash);
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.editor-input {
  outline: 0;
  position: relative;
  top: 0px;
  left: 0px;
}

.editor-paragraph {
  font-size: var(--small);
  font-weight: var(--regular);
}

.article-title {
  font-weight: var(--regular);
  font-size: var(--medium);
  padding-bottom: var(--small);
}

.facet-title {
  color: var(--Scheele-green);
  font-weight: var(--heavy);
  font-size: var(--small);
  padding-top: var(--large);
}

/* For Home */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  width: var(--width);
  z-index: 1001;
  background-color: var(--light-white);

  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0;
}

.navbar-left {
  display: flex;
  gap: 20px; /* Space between links */
  margin: 0;
}

.navbar-right {
  display: flex;
  gap: 20px;
  margin: 0;
}

.nav-link-articles {
  text-decoration: none;
  font-weight: var(--regular);
  color: var(--light-black);
}

.nav-link-facets {
  text-decoration: none;
  font-weight: var(--regular);
  color: var(--Scheele-green);
}

.nav-link-articles.active,
.nav-link-facets.active {
  text-decoration: underline;
}

.nav-link-create {
  text-decoration: none;
  font-weight: var(--regular);
  color: var(--light-black);
}

.nav-link-create.hover {
  text-decoration: none;
}

.nav-link-create.active {
  text-decoration: none;
}

.content-container {
  flex: 1;
  margin-top: var(--large);
  padding: 20px 0;
}

.footer {
  margin-top: var(--large);
  margin-bottom: var(--medium);
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  bottom: 0;
  left: 0;
}

.footer-left {
  display: flex;
  gap: 20px; /* Adjust spacing between links as needed */
}

.footer-right {
  text-align: right;
}

.footer-link {
  text-decoration: none;
  color: var(--ash);
  font-weight: var(--thin);
  font-size: var(--tiny);
}

.footer-icon {
  width: var(--small);
  height: var(--small);
}

/* For Articles list */
.articles-container {
  padding: 0;
  margin-top: var(--medium);
}

.articles-list {
  list-style-type: none;
  padding: 0;
}

.article-item {
  padding: 0;
  margin-bottom: var(--small);
}

.article-item:last-child {
  border-bottom: none;
}

.article-link {
  text-decoration: none;
  color: var(--dark-black);
  font-weight: var(--regular);
  font-size: var(--medium);
}

.article-date {
  color: var(--ash);
  font-size: var(--small);
}

/* For Facets list */
.facets-container {
  padding: 0;
  margin-top: var(--medium);
}

.facets-list {
  list-style-type: none;
  padding: 0;
}

.facet-item {
  padding: 0;
  margin-bottom: var(--small);
}

.facet-item:last-child {
  border-bottom: none;
}

.facet-link {
  text-decoration: none;
  color: var(--Scheele-green);
  font-weight: var(--heavy);
  font-size: var(--small);
  cursor: pointer;
}

.honed-by-list {
  list-style-type: none;
  padding-left: var(--small);
}

.honed-by-item {
  color: var(--ash);
  font-size: var(--tiny);
}

.honed-by-link {
  text-decoration: none;
  color: var(--Scheele-green);
  font-size: var(--small);
  font-weight: var(--thin);
}

/* For hone panel */
.hone-panel {
  position: absolute;
  background-color: var(--light-white);
  border: 1px solid var(--Scheele-green);
  box-shadow: 0 2px 4px var(--Scheele-green);
  border-radius: 0px;
  z-index: 1000;
  padding: 0px;
  overflow: auto;
  max-height: 200px;
}

.hone-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: var(--regular);
  font-size: 16px;
}

.hone-panel-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
}

.hone-panel-item {
  padding: 8px;
  cursor: pointer;
}

.hone-panel-item.selected {
  background-color: var(--Scheele-green);
  color: white;
}

.editor-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
}
